* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "TajawalM";
}
body {
  background: white;
  overflow-x: hidden;
  padding-top: 94px;
}
@font-face {
  font-family: "TajawalL";
  src: url("/fonts/Tajawal-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TajawalM";
  src: url("/fonts/Tajawal-Medium.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TajawalB";
  src: url("/fonts/Tajawal-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
input,
textarea,
.mantine-FileInput-input div,
form .partImgFile .partImg p {
  text-transform: none !important;
}
input::placeholder {
  font-family: "TajawalL";
}
:root {
  --main_color: #3da0d8;
  --text_color: #000b33;
}
h1 {
  font-family: "TajawalB";
}
.m60 {
  margin-bottom: 60px;
}
p {
  margin: 0;
  font-family: "TajawalL";
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(82deg, #2b4c5e, #3da0d8);
  border-radius: 30px;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
.m80 {
  margin-bottom: 80px;
}
.m100 {
  margin-bottom: 100px;
}

.con {
  max-width: 1920px;
  padding: 0px 56px;
  margin: auto;
}
.headTitle {
  font-family: "TajawalB";
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.5px;
  max-width: 526px;
}
.headTitle span {
  font-family: "TajawalB";
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.5px;
  color: var(--main_color);
}
.btnPage {
  font-size: 16px;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  color: white;
  background: #222d61;
  min-width: 148px;
  font-family: "TajawalB";
  transition: 0.4s;
  border: 1px solid #222d61;
}
.btnPage:hover {
  border-radius: 8px;
  background-color: white;
  color: #222d61;
  box-shadow: 2px 2px 10px #252d625c;
}
@media (max-width: 992px) {
  .con {
    padding: 0px 32px;
  }
  body {
    padding-top: 86px;
  }
}
@media (max-width: 768px) {
  .con {
    padding: 0px 24px;
  }
}
@media (max-width: 480px) {
  .con {
    padding: 0px 12px;
  }
}
/**/
/*==================================start navbar==============================*/
/*start navbar*/
/* Remove border from toggler */

.navbar {
  padding: 1rem 0px;
  background-color: var(--main_color);
}
.navbar .container {
  gap: 42px;
}
.navbar .con {
  width: 100%;
}
.navbar .content {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}
/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 5px;
  background-color: #fea5a5;
  display: block;
  transition: all 0.2s;
  border-radius: 20px;
}
/* Adds Space between the lines */
.middle-bar {
  margin: 4px auto;
}
/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when      navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */
/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: white;
}
.navbar-collapse {
  flex-grow: 1;
}
.navbar-nav {
  gap: 14px;
  margin-right: auto;
  align-items: center;
}
.navbar-collapse {
  justify-content: flex-end;
  gap: 20px;
}
.navbar-brand {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0;
}
.navbar-brand svg {
  width: 70px;
}
.navbar-brand h2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 24px;
  font-family: "TajawalB";
  color: var(--main_color);
  margin: 0;
}
.navbar-brand img {
}
.navbar-nav .nav-link {
  font-size: 18px;
  line-height: 21px;
  color: white;
  font-family: "TajawalL";
  font-weight: 400;
  transition: 0.3s;
}
.navbar-nav .nav-link:hover {
  color: white;
}
.navbar-nav .nav-link.active {
  color: white;
  font-weight: 700;
  font-family: "TajawalB";
}
.navbar .btn-lang {
  font-size: 16px;
  background-color: var(--main_color);
  border: none;
  color: white;
  padding: 12px 26px;
  border-radius: 45px;
  line-height: 24px;
  font-family: TajawalL;
  font-weight: 400;
  transition: all 0.4s ease 0s;
}
.navbar .btn-lang:hover {
  box-shadow: 0px 6px 21px #8a64bc;
}
.endnav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.endnav .btn_nav {
  width: 74px;
  height: 30px;
  font-size: 14px;
}
html[dir="rtl"] .endnav .btn_nav {
  font-size: 20px;
}
.endnav h4 {
  font-size: 14px;
  line-height: 18px;
  background: #ff7443;
  border-radius: 10px;
  padding: 6px 8px;
  color: white;
  margin: 0;
}
html[dir="rtl"] .endnav h4 {
  font-size: 20px;
}
.endnav ul {
  min-width: 130px;
  width: 140px;
  max-width: 140px;
}
.endnav ul li {
}
.endnav ul li a {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 4px auto;
}
.endnav ul li:last-of-type {
  padding: 12px 16px 6px;
  border-top: 1px solid #d9d9d9;
}
.endnav ul li p {
  font-size: 14px;
  line-height: 18px;
  color: #4e4e4e;
}
html[dir="rtl"] .endnav ul li p {
  font-size: 20px;
}
.endnav .dropdown-menu[data-bs-popper] {
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}
.navbar-toggler2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navbar-toggler2 .btn_page {
  width: 90px;
  height: 34px;
  font-size: 14px;
  border-radius: 20px;
}
li.nav-item.lang {
  display: flex;
  align-items: center;
  gap: 8px;
}
li.nav-item.lang span {
  font-size: 24px;
  font-weight: 400;
}
li.nav-item.lang a {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 400;
  font-family: "TajawalL";
  line-height: 24px;
  transition: 0.4s;
  color: black;
}
li.nav-item.lang a.active {
  color: var(--main_color);
  font-family: "TajawalB";
  font-weight: 700;
}
.offcanvas.show:not(.hiding),
.offcanvas.showing {
  z-index: 1051;
}
.offcanvas {
  background-color: #3d9fd8fa;
  border: none;
  box-shadow: none;
  outline: none;
  border-left: none !important;
  border-radius: 30px 0px 0px 30px;
}
.navbar .btnNav {
  background-color: transparent;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  color: white;
  font-size: 18px;
  font-family: "TajawalB";
}
.offcanvas-body {
  gap: 30px;
}
.btn-close {
  background-image: url("/images/close.svg");
  opacity: 1;
  background-size: 34px;
}
@media (min-width: 500px) {
}
@media (min-width: 1400px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .navbar-expand-lg .navbar-toggler2 {
    display: none;
  }
}

@media (max-width: 1400px) {
  .navbar-brand img {
    width: 155px;
  }
  .offcanvas-body {
    gap: 10px;
  }
}
@media (max-width: 1200px) {
  .navbar-brand img {
    width: 140px;
  }
  .navbar-nav {
    gap: 8px;
  }
  .navbar-nav .nav-link {
    font-size: 16px;
  }
  .navbar .container {
    gap: 30px;
    max-width: 1400px;
  }
}
@media (max-width: 992px) {
  .navbar {
    padding: 0.8rem 0px;
  }
  .endnav {
    margin-bottom: 34px;
  }
  .btn-lang {
  }
  .navbar-collapse {
    background-color: red;
    border-radius: 20px;
  }
  .navbar-nav {
    align-items: center;
    padding: 10px 20px 0px;
  }
  .navbar-nav .nav-link.active {
    color: white;
  }
  .navbar-nav .nav-link {
    color: white;
  }
  .navbar-nav .nav-link:hover {
    color: white;
  }
  li.nav-item.lang a.active {
    color: white;
  }
  .navbar .btn-lang1 {
    display: none;
  }
  .offcanvas {
    max-width: 80%;
  }
  .navbar .btnNav {
    padding: 6px 0px;
  }
  .navbar .btnNav {
    margin: auto;
  }
  .navbar-nav .nav-link {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .navbar-brand h2 {
    font-size: 24px;
    font-family: "TajawalB";
  }
  .navbar-brand {
    gap: 12px;
  }
  .navbar-brand svg {
    width: 66px;
  }
  .navbar .btn-lang {
    padding: 10px 18px;
    border-radius: 40px;
    font-size: 16px;
  }
  .navbar-toggler2 {
    gap: 6px;
  }
  li.nav-item.lang button {
    font-size: 18px;
  }
  .navbar-nav .nav-link {
    font-size: 18px;
  }
}
@media (max-width: 580px) {
  .navbar-brand img {
    width: 112px;
  }
  .toggler-icon {
    width: 28px;
    height: 4px;
  }

  .navbar-toggler2 {
    margin-top: 8px;
  }
  .btn-close {
    background-size: 26px;
  }
}

@media (max-width: 430px) {
  .navbar-brand svg {
    width: 54px;
  }
  .navbar-brand h2 {
    font-size: 20px;
  }
  .navbar .btn-lang {
    padding: 10px 14px;
    font-size: 16px;
  }
}

/*==================================end navbar==============================*/
/*investor*/
.investor {
  margin: 80px 0px 100px;
}
.investor .parts {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 22px 20px;
  flex-wrap: wrap;
}
.investor .parts .part {
  flex: 1;
  min-width: 170px;
}
.investor .parts .part img {
  width: auto;
  height: 50px;
  max-width: 100%;
  display: block;
  margin: auto;
  object-fit: contain;
}
@media (max-width: 992px) {
  .investor .parts .part {
    min-width: 150px;
  }
  .investor {
    margin: 40px 0px 60px;
  }
}
@media (max-width: 768px) {
  .investor .parts .part {
    min-width: 130px;
  }
  .investor {
    margin: 28px 0px 40px;
  }
}
/*services*/
.services {
  text-align: center;
  padding: 100px 0px;
  overflow: hidden;
}
.services .headTitle {
  text-align: center;
  margin: 0px auto 18px;
}
.services .dec {
  font-family: "TajawalL";
  color: var(--text_color);
  font-size: 18px;
  line-height: 26px;
  max-width: 368px;
  margin: auto;
}
.services .parts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
  margin-top: 58px;
}
.services .parts .part {
  text-align: center;
  padding: 32px 12px;
  border-radius: 10px;
  box-shadow: 0px 2px 40px 0px #2b59ff1c;
  flex: 1;
  min-width: 200px;
  transition: 0.3s;
}
.services .parts .part:hover {
  transform: scale(1.04);
  box-shadow: 0px 2px 40px 0px #2b59ff3b;
}
.services .parts .part img {
  margin-bottom: 26px;
}
.services .parts .part h3 {
  color: var(--text_color);
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 6px;
  font-family: "TajawalB";
}
.services .parts .part p {
  color: var(--text_color);
  font-size: 16px;
  line-height: 26px;
  font-family: "TajawalL";
  max-width: 244px;
  margin: auto;
}
@media (max-width: 992px) {
  .services {
    text-align: center;
    padding: 44px 0px;
  }
}
@media (max-width: 768px) {
  .services {
    text-align: center;
    padding: 30px 0px;
  }
  .services .parts {
    margin-top: 26px;
  }
}
/*news*/
.news {
  padding: 44px 0px;
}
.news .parts {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 150px;
  flex-wrap: wrap;
}
.news .parts .part1 {
  width: 648px;
  max-width: 100%;
  flex: 1;
}
.news .parts .part1 img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.news .parts .part2 {
  max-width: 614px;
  padding-top: 40px;
  flex: 1;
  min-width: 400px;
}
.news .parts .part2 h2 {
  margin-bottom: 16px;
}
.news .parts .part2 h3 {
  font-size: 18px;
  font-family: "TajawalM";
  margin-bottom: 32px;
  color: var(--text_color);
  max-width: 354px;
}
.news .parts .part2 ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
  max-width: 354px;
}
.news .parts .part2 ul li {
}
.news .parts .part2 h4 {
  color: var(--text_color);
  font-family: "TajawalB";
  font-size: 20px;
}
.news .parts .part2 p {
  color: var(--text_color);
  font-family: "TajawalM";
  font-size: 18px;
}
.news .parts .btnPage {
  width: 148px;
}
@media (max-width: 1200px) {
  .news .parts {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .news .parts {
    gap: 20px;
    flex-direction: column;
  }
  .news .parts .part1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .news .parts .part1 img {
    height: 350px;
  }
  .news .parts .part2 {
    max-width: 100%;
    padding-top: 20px;
    min-width: 100%;
  }
  .news .headTitle {
    font-size: 36px;
    line-height: 44px;
    max-width: 100%;
  }
}
/*steps*/
.steps {
  padding: 56px 0px;
}
.steps .parts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 130px;
}
.steps .parts .part1 {
}
.steps .parts .part1 .headTitle {
  margin-bottom: 20px;
}
.steps .parts .part1 .headTitle span {
}
.steps .parts .part1 .phoneImages {
  display: flex;
  gap: 16px;
}
.steps .parts .part1 .phoneImages img {
  flex: 1;
  max-width: 230px;
  height: auto;
  object-fit: contain;
  width: calc(33% - 6px);
}
.steps .parts .part2 {
  width: 480px;
  display: flex;
  flex-direction: column;
}
.steps .parts .part2 .step {
  display: flex;
  align-items: flex-start;
  gap: 28px;
  min-height: 144px;
  padding-bottom: 20px;
  height: auto;
  position: relative;
}
.steps .parts .part2 .step:last-of-type {
  min-height: auto;
}
.steps .parts .part2 .step::before {
  position: absolute;
  content: "";
  height: calc(100% - 76px);
  width: 2px;
  background-color: #bdbdbd2b;
  left: 38px;
  top: 76px;
}
.steps .parts .part2 .step:last-of-type:before {
  content: none;
}
.steps .parts .part2 .step .num {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main_color);
  padding: 7px;
  background-color: white;
}
.steps .parts .part2 .step .num span {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: var(--main_color);
  color: white;
  font-size: 20px;
  font-family: "TajawalB";
  border-radius: 50%;
  transition: 0.4s;
}
.steps .parts .part2 .step .num:hover span {
  transform: scale(1.03);
}
.steps .parts .part2 .step .info {
}
.steps .parts .part2 .step .info h3 {
  color: var(--text_color);
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "TajawalB";
}
.steps .parts .part2 .step .info p {
  color: var(--text_color);
  font-size: 18px;
  font-family: "TajawalM";
}
.steps.rev .parts{
  flex-direction: row-reverse;
}
@media (max-width: 1200px) {
  .steps .parts {
    gap: 60px;
  }
}
@media (max-width: 992px) {
  .steps .parts {
    gap: 30px;
  }
  .steps .headTitle {
    font-size: 40px;
    line-height: 50px;
  }
  .steps .headTitle span {
    font-size: 40px;
  }
  .steps .parts .part2 .step .num {
    width: 60px;
    height: 60px;
    padding: 6px;
  }
  .steps .parts .part2 .step .num span {
    width: 46px;
    height: 46px;
    font-size: 16px;
  }
  .steps .parts .part2 .step {
    gap: 14px;
    padding-bottom: 12px;
  }
  .steps .parts .part2 .step .info h3 {
    font-size: 18px;
    margin-bottom: 2px;
  }
  .steps .parts .part2 .step .info p {
    font-size: 16px;
  }
  .steps .parts .part2 .step::before {
    height: calc(100% - 60px);
    width: 2px;
    background-color: #bdbdbd2b;
    left: 30px;
    top: 60px;
  }
}
@media (max-width: 768px) {
  .steps .parts {
    align-items: flex-start;
    flex-direction: column !important;
  }
  .steps .parts .part2 .step {
    min-height: 110px;
  }
  .steps .headTitle {
    font-size: 34px;
    line-height: 40px;
  }
  .steps .headTitle span {
    font-size: 34px;
  }
  .steps {
    padding: 30px 0px;
}
}
/*sectionCards*/
.sectionCards{}
.sectionCards .headCards{}
.sectionCards .headTitle{}
.sectionCards .headTitle span{}
.sectionCards .dec{}
.sectionCards .cards{}
.sectionCards .cards .card{}
.sectionCards .cards .card .imgBox{}
.sectionCards .cards .card .imgBox img{}
.sectionCards .cards .card .cardInfo{}
.sectionCards .cards .card .cardInfo .headPrice{}
.sectionCards .cards .card .cardInfo .headPrice h3{}
.sectionCards .cards .card .cardInfo .headPrice h3 span{}
.sectionCards .cards .card .cardInfo .price{}
.sectionCards .cards .card .cardInfo .price h4{}
.sectionCards .cards .card .cardInfo .price h4 span{}
.sectionCards .cards .card .cardInfo .btnPage{}